<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rent.user.provider.mapper.RoleFunctionMapper">
  <resultMap id="BaseResultMap" type="com.heikes.rent_common.pojo.RoleFunction">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="function_id" jdbcType="INTEGER" property="functionId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from role_function
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.heikes.rent_common.pojo.RoleFunction">
    insert into role_function (id, role_id, function_id
      )
    values (#{id,jdbcType=BIGINT}, #{roleId,jdbcType=INTEGER}, #{functionId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.heikes.rent_common.pojo.RoleFunction">
    update role_function
    set role_id = #{roleId,jdbcType=INTEGER},
      function_id = #{functionId,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, role_id, function_id
    from role_function
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, role_id, function_id
    from role_function
  </select>
</mapper>